html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif !important;
}
h1{
  text-align: center !important;
}
.btn-small{
  width:200px !important;
}

#canvas-container {
  width: 100% !important;
  text-align:center !important;
}

canvas {
  display: inline !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) !important; 
}
